<header class="bg-primary text-black py-4 ">
  <div class="container d-flex align-items-center">
    <img src="https://png.pngtree.com/png-clipart/20220206/original/pngtree-old-tv-vector-design-free-and-png-png-image_7263650.png" alt="Logo" class="me-3" style="width: 50px; height: 50px;">
    <h1 class="mb-0">Series Más Vistas</h1>
</div>
</header>
<div class="container-fluid">
  <div class="col-md-8 offset-md-2">
    <table class="table table-striped table-hover table-bordered table-responsive">
      <thead class="table-primary">
        <tr>
          <th class="h4 col-1">#</th>
          <th class="h4">Name</th>
          <th class="h4">Channel</th>
          <th class="h4">Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serie of series">
          <td>{{ serie.id }}</td>
          <td>{{ serie.name }}</td>
          <td>{{ serie.channel }}</td>
          <td>{{ serie.seasons }}</td>
        </tr>
      </tbody>
    </table>
    <div><h4>Seasons average: {{promedio}}</h4></div>
  </div>
</div>
